.layout-mode-radio {
  /* margin-top: 0.625rem; */
  margin-bottom: 0.625rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
}

.layout-mode-radio .radio-label {
  cursor: pointer;
  margin-right: 1.25rem;
  font-size: 1rem;
}

.layout-mode-radio.dark .radio-label {
  color: #fff;
}

.radio-input {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.layout-mode-radio.light .radio-input {
  accent-color: #666;
}

.layout-mode-radio.dark .radio-input {
  accent-color: #4a4a4a;
}

.layout-mode-radio.light .radio-input {
  accent-color: #666; /* Same as ForceGraphLayoutRadio light mode */
}
