.search-result-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.search-result-item:hover {
  background-color: #f5f5f5;
}

.search-result-item.greyed-out {
  opacity: 0.5;
}

.result-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-label {
  font-weight: 500;
  color: #333;
}

.result-type-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.result-type {
  font-size: 0.875rem;
  color: #666;
  padding: 2px 0.25rem;
  border-radius: 0.25rem;
}

.result-tags {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.result-tag {
  font-size: 1em; /* Increased font size */
  padding: 1px 6px;
  background: #e0e0e0;
  border-radius: 3px;
  color: #555;
}

/* Dark mode styles */
.dark-mode .search-result-item:hover {
  background-color: #2a2a2a;
}

.dark-mode .result-label {
  color: #ffffff;
}

.dark-mode .result-type {
  color: #aaa;
  background: #404040;
}

.dark-mode .result-tag {
  background: #505050;
  color: #e0e0e0;
}

.highlight {
  background-color: rgba(
    255,
    223,
    0,
    0.5
  ); /* Darker yellow with transparency */
  font-weight: bold;
}
